$footer-bg:                 #f6f6f6;
$footer-bg-d:               #0d0d0e;
$base-font-color:           #000;
$base-font-color-light:     #F8F8F8;
$base-link-color:           #000;
$base-link-color-light:     #aec7f6;

footer.wrapper-footer {
  border: 0;
  box-shadow: none;
  background-color: var(--pgn-color-light-100, $footer-bg);

  body &,
  body.indigo-dark-theme & {
    border: 0;
    padding: 60px 2% 30px;
  }

  .indigo-dark-theme & {
    background-color: $footer-bg-d;
    border-top-color: $base-link-color-light;
  }

  footer {

    &#footer {
      .wrapper-logo {
        margin: 0;

        p {
          a {
            margin-right: 10px;
            img {
              display: block;
            }
          }
        }
      }
    }
  }
}

.footer-container {
  border-top: 1px solid $base-font-color;
  padding-top: 20px;
  padding-bottom: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 10px;

  .indigo-dark-theme & {
    border-top-color: $base-font-color-light;
  }

  @media (max-width: 575px) {
    text-align: left;
    flex-direction: column;
  }

  .nav-colophon {
    flex-grow: 1;
    text-align: left;

    @media (max-width: 575px) {
      text-align: center;
    }

    ol {
      font-size: 14px;
      padding: 0;
      margin: 0;
    }

    li {
      display: inline-block;
      vertical-align: top;
      position: relative;
      padding: 0 12px;

      &:first-child {

        &:before {
          display: none;
        }
      }

      &:before {
        content: '';
        position: absolute;
        top: 4px;
        left: -3px;
        bottom: 3px;
        width: 2px;
        background: $base-font-color;

        .indigo-dark-theme & {
          background: $base-font-color-light;
        }
      }

      a {
        color: $base-font-color;

        .indigo-dark-theme & {
          color: $base-font-color-light;
        }

        .wrapper-footer footer#footer-openedx & {
          color: $base-font-color;
          border: 0;

          .indigo-dark-theme & {
            color: $base-font-color-light;

            &:hover,
            &:focus,
            &:active {
              color: $base-link-color-light;
            }
          }

          &:hover,
          &:focus,
          &:active {
            color: #36c;
          }
        }
      }
    }
  }
}

/* --------------------- HEADER STYLES --------------------- */

/* *** Header logo dark theme style *** */
.indigo-dark-theme {

  .footer-container {
    img {
      filter: invert(1);
    }
  }

  .learning-header {
    .logo {
      img {
        filter: invert(1);
      }
    }
  }
}

/* *** Header navigation style *** */
header {
  &.learning-header {
    .course-title-lockup {
      .nav-course {
        &:nth-of-type(2) {
          margin-left: auto;
        }
        &:last-of-type {
          margin-right: auto;
        }
      }
    }
  }

  .main-nav {
    flex-grow: 1;
    align-items: center;
  }
}
